In [1]:
import pandas as pd

In [2]:
normal_df=pd.read_csv("..//Mil-STD-1553/Normal (Benign) Data/1553_Benign.csv")

In [3]:
normal_df.head()

,msgId,timestamp,error,modeCode,channel,connType,sa,ssa,da,dsa,...,dw26,dw27,dw28,dw29,dw30,dw31,malicious,injected,gap,msgTime
0,1,254.842659,False,True,A,BC->RT,NaN,NaN,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,False,False,NaN,65.0
1,2,254.842738,False,True,A,BC->RT,NaN,NaN,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,False,False,14.0,65.0
2,3,254.842817,False,True,A,BC->RT,NaN,NaN,3.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,False,False,14.0,65.0
3,4,254.842896,False,True,A,BC->RT,NaN,NaN,4.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,False,False,14.0,65.0
4,5,254.843060,False,False,A,BC->RT,NaN,NaN,1.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,False,False,99.0,65.0

In [4]:
normal_df.tail()

,msgId,timestamp,error,modeCode,channel,connType,sa,ssa,da,dsa,...,dw26,dw27,dw28,dw29,dw30,dw31,malicious,injected,gap,msgTime
22995,22996,806.593218,False,False,A,RT->BC,4.0,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,False,14.0,65.0
22996,22997,806.593297,False,False,A,RT->BC,4.0,30.0,NaN,NaN,...,0x0000,0x0000,0x0000,0x0000,0x0000,0x0000,False,False,14.0,685.0
22997,22998,806.593996,False,False,A,RT->BC,4.0,6.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,False,14.0,85.0
22998,22999,806.594095,False,False,A,RT->RT,1.0,1.0,3.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,False,False,14.0,272.0
22999,23000,806.594381,False,False,A,RT->RT,1.0,1.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,False,False,14.0,NaN

In [5]:
normal_df.shape

(23000, 52)

In [6]:
normal_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23000 entries, 0 to 22999
Data columns (total 52 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   msgId        23000 non-null  int64
 1   timestamp    23000 non-null  float64
 2   error        23000 non-null  bool
 3   modeCode     23000 non-null  bool
 4   channel      23000 non-null  object
 5   connType     23000 non-null  object
 6   sa           11408 non-null  float64
 7   ssa          11408 non-null  float64
 8   da           16008 non-null  float64
 9   dsa          16008 non-null  float64
 10  wc           14168 non-null  float64
 11  modeCodeVal  8832 non-null   float64
 12  txRsp        11408 non-null  float64
 13  txSts        11408 non-null  object
 14  rxRsp        16008 non-null  float64
 15  rxSts        16008 non-null  object
 16  dw0          23000 non-null  object
 17  dw1          7544 non-null   object
 18  dw2          6624 non-null   object
 19  dw3          6624 non-null   object
 20  dw4          6624 non-null   object
 21  dw5          6624 non-null   object
 22  dw6          6624 non-null   object
 23  dw7          6624 non-null   object
 24  dw8          6624 non-null   object
 25  dw9          2208 non-null   object
 26  dw10         2208 non-null   object
 27  dw11         2208 non-null   object
 28  dw12         2208 non-null   object
 29  dw13         2208 non-null   object
 30  dw14         2208 non-null   object
 31  dw15         2208 non-null   object
 32  dw16         2208 non-null   object
 33  dw17         2208 non-null   object
 34  dw18         2208 non-null   object
 35  dw19         2208 non-null   object
 36  dw20         1656 non-null   object
 37  dw21         1656 non-null   object
 38  dw22         1656 non-null   object
 39  dw23         1656 non-null   object
 40  dw24         1656 non-null   object
 41  dw25         1656 non-null   object
 42  dw26         1656 non-null   object
 43  dw27         1656 non-null   object
 44  dw28         1656 non-null   object
 45  dw29         1656 non-null   object
 46  dw30         1656 non-null   object
 47  dw31         1656 non-null   object
 48  malicious    23000 non-null  bool
 49  injected     23000 non-null  bool
 50  gap          22999 non-null  float64
 51  msgTime      22999 non-null  float64
dtypes: bool(4), float64(11), int64(1), object(36)
memory usage: 8.5+ MB

In [7]:
normal_df.isna().sum()

msgId              0
timestamp          0
error              0
modeCode           0
channel            0
connType           0
sa             11592
ssa            11592
da              6992
dsa             6992
wc              8832
modeCodeVal    14168
txRsp          11592
txSts          11592
rxRsp           6992
rxSts           6992
dw0                0
dw1            15456
dw2            16376
dw3            16376
dw4            16376
dw5            16376
dw6            16376
dw7            16376
dw8            16376
dw9            20792
dw10           20792
dw11           20792
dw12           20792
dw13           20792
dw14           20792
dw15           20792
dw16           20792
dw17           20792
dw18           20792
dw19           20792
dw20           21344
dw21           21344
dw22           21344
dw23           21344
dw24           21344
dw25           21344
dw26           21344
dw27           21344
dw28           21344
dw29           21344
dw30           21344
dw31           21344
malicious          0
injected           0
gap                1
msgTime            1
dtype: int64

In [8]:
normal_df[normal_df.duplicated()]

Empty DataFrame
Columns: [msgId, timestamp, error, modeCode, channel, connType, sa, ssa, da, dsa, wc, modeCodeVal, txRsp, txSts, rxRsp, rxSts, dw0, dw1, dw2, dw3, dw4, dw5, dw6, dw7, dw8, dw9, dw10, dw11, dw12, dw13, dw14, dw15, dw16, dw17, dw18, dw19, dw20, dw21, dw22, dw23, dw24, dw25, dw26, dw27, dw28, dw29, dw30, dw31, malicious, injected, gap, msgTime]
Index: []

[0 rows x 52 columns]

Observations from 1553-Benign.csv: -

1. The dataset has 23,000 rows and 52 columns.
2. There are null values in the dataset.
3. The numerical fields are raw and not normalized.
4. There is no duplicate record.
5. The file contains only normal (benign) events